{% load static %}
<section class="add_product">
    <ul>
        <li class="close"><h5>Close</h5></li>
        <li>
            <div class="addPd_img">
                <img src="{% static 'flyshopbd/assets/image/phone-1.png' %}" alt="product">
            </div>
            <div class="addPd_data">
                <h6>
                    3M GoldPrivacy Filter for 17" 
                    Widescreen Laptop (16:10) (GF170W1B)
                    Widescreen Laptop (16:10) (GF170W1B)
                </h6>
                <div class="addPd_price">
                    <h5><span>6800 tk</span><small>(6800*1)</small></h5>
                    <i class="fa-regular fa-trash-can"></i>
                </div>
                <div class="addPd_icon">
                    <i class="fa-solid fa-minus"></i>
                    <h5>1</h5>
                    <i class="fa-solid fa-plus"></i>
                </div>
            </div>
        </li>
        <li>
            <div class="addPd_img">
                <img src="{% static 'flyshopbd/assets/image/phone-2.png' %}" alt="product">
            </div>
            <div class="addPd_data">
                <h6>
                    3M GoldPrivacy Filter for 17" 
                    Widescreen Laptop (16:10) (GF170W1B)
                    Widescreen Laptop (16:10) (GF170W1B)
                </h6>
                <div class="addPd_price">
                    <h5><span>6800 tk</span><small>(6800*1)</small></h5>
                    <i class="fa-regular fa-trash-can"></i>
                </div>
                <div class="addPd_icon">
                    <i class="fa-solid fa-minus"></i>
                    <h5>1</h5>
                    <i class="fa-solid fa-plus"></i>
                </div>
            </div>
        </li>
        <li>
            <div class="addPd_img">
                <img src="{% static 'flyshopbd/assets/image/product-1.png' %}" alt="product">
            </div>
            <div class="addPd_data">
                <h6>
                    3M GoldPrivacy Filter for 17" 
                    Widescreen Laptop (16:10) (GF170W1B)
                    Widescreen Laptop (16:10) (GF170W1B)
                </h6>
                <div class="addPd_price">
                    <h5><span>6800 tk</span><small>(6800*1)</small></h5>
                    <i class="fa-regular fa-trash-can"></i>
                </div>
                <div class="addPd_icon">
                    <i class="fa-solid fa-minus"></i>
                    <h5>1</h5>
                    <i class="fa-solid fa-plus"></i>
                </div>
            </div>
        </li>
        <li>
            <div class="addPd_img">
                <img src="{% static 'flyshopbd/assets/image/product-2.png' %}" alt="product">
            </div>
            <div class="addPd_data">
                <h6>
                    3M GoldPrivacy Filter for 17" 
                    Widescreen Laptop (16:10) (GF170W1B)
                    Widescreen Laptop (16:10) (GF170W1B)
                </h6>
                <div class="addPd_price">
                    <h5><span>6800 tk</span><small>(6800*1)</small></h5>
                    <i class="fa-regular fa-trash-can"></i>
                </div>
                <div class="addPd_icon">
                    <i class="fa-solid fa-minus"></i>
                    <h5>1</h5>
                    <i class="fa-solid fa-plus"></i>
                </div>
            </div>
        </li>
        <li>
            <div class="addPd_img">
                <img src="{% static 'flyshopbd/assets/image/product-2.png' %}" alt="product">
            </div>
            <div class="addPd_data">
                <h6>
                    3M GoldPrivacy Filter for 17" 
                    Widescreen Laptop (16:10) (GF170W1B)
                    Widescreen Laptop (16:10) (GF170W1B)
                </h6>
                <div class="addPd_price">
                    <h5><span>6800 tk</span><small>(6800*1)</small></h5>
                    <i class="fa-regular fa-trash-can"></i>
                </div>
                <div class="addPd_icon">
                    <i class="fa-solid fa-minus"></i>
                    <h5>1</h5>
                    <i class="fa-solid fa-plus"></i>
                </div>
            </div>
        </li>
    </ul>
    <div class="memo">
        <ol>
            <li><p>Product Item :</p> <span> 100</span></li>
            <li><p>SubTotal :</p> <span>3300৳</span></li>
            <li><p>Delivery Charge :</p> <span>00৳</span></li>
            <li><p>Total :</p> <span>3300৳</span></li>
            <li title="advance"><p>Advance pay :</p> <span>300৳</span></li>
            <li><p>pay on delivery :</p> <span><span>3000</span>৳</span></li>
        </ol>
        <div class="btn">
            <button onclick="checkOut()">PROCEED TO CHECKOUT</button>
        </div>

        <!-- <button>Payment</button> -->
    </div>
</section>