{% load static %}
<ul class="all_product">
    <li style="position: relative;">
        <div class="card_head">
            <p>stock: <span>01</span></p>
            <i class="fa-solid fa-gift"></i>
        </div>
        <div class="meta_text">
            <div class="productImg">
                <img src="{% static 'flyshopbd/assets/image/product-1.png' %}" alt="Proudct">
            </div>
            <p>Acer Aspire E 15 E5-575G-57D4 15.6-Inches Full HDAspire E 15 E5-575G-57D4 15.6-Inches Full HD</p>
            <div class="review_star">
                <h5>Tk: <span>300</span><sub><del>200tk</del></sub></h5>
                <b>5<i class="fa-solid fa-star"></i></b>
            </div>
        </div>
        <dl class="review">
            {% comment %} <dt class="user_comment">
                <i class="fa-regular fa-comment-dots"></i>
                
                <div class="commentPd">
                    <form action="#" method="post">
                        <textarea name="Comment" id="Comment" rows="6" placeholder="Comment(মন্তব্য করুন)"></textarea>
                        <input type="submit" value="Send" id="comment">
                    </form>
                </div>
            </dt> {% endcomment %}
            <dd><i class="fa-regular fa-heart"></i></dd>
            <dd><i class="fa-regular fa-heart"></i></dd>
            <dt><i class="fa-solid fa-cart-shopping"></i></dt>
            <dd><i class="fa-regular fa-share-from-square"></i></dd>
        </dl>
    </li>
    <li>
        <div class="card_head">
            <p>stock: <span>01</span></p>
            <i class="fa-solid fa-gift"></i>
        </div>
        <div class="meta_text">
            <div class="productImg">
                <img src="{% static 'flyshopbd/assets/image/product-2.png' %}" alt="Proudct">
            </div>
            <p>Acer Aspire E 15 E5-575G-57D4 15.6-Inches Full HDAspire E 15 E5-575G-57D4 15.6-Inches Full HD</p>
            <div class="review_star">
                <h5>Tk: <span>300</span><sub><del>200tk</del></sub></h5>
                <b>5<i class="fa-solid fa-star"></i></b>
            </div>
        </div>
        <dl class="review">
            <dt class="user_comment">
                <i class="fa-regular fa-comment-dots"></i>
                
                <div class="commentPd">
                    <form action="#" method="post">
                        <textarea name="Comment" id="Comment" rows="6" placeholder="Comment(মন্তব্য করুন)"></textarea>
                        <input type="submit" value="Send" id="comment">
                    </form>
                </div>
            </dt>
            <dd><i class="fa-regular fa-heart"></i></dd>
            <dt><i class="fa-solid fa-cart-shopping"></i></dt>
            <dd><i class="fa-regular fa-share-from-square"></i></dd>
        </dl>
    </li>
    <li>
        <div class="card_head">
            <p>stock: <span>01</span></p>
            <i class="fa-solid fa-gift"></i>
        </div>
        <div class="meta_text">
            <div class="productImg">
                <img src="{% static 'flyshopbd/assets/image/product-3.png' %}" alt="Proudct">
            </div>
            <p>Acer Aspire E 15 E5-575G-57D4 15.6-Inches Full HDAspire E 15 E5-575G-57D4 15.6-Inches Full HD</p>
            <div class="review_star">
                <h5>Tk: <span>300</span><sub><del>200tk</del></sub></h5>
                <b>5<i class="fa-solid fa-star"></i></b>
            </div>
        </div>
        <dl class="review">
            <dt class="user_comment">
                <i class="fa-regular fa-comment-dots"></i>
                
                <div class="commentPd">
                    <form action="#" method="post">
                        <textarea name="Comment" id="Comment" rows="6" placeholder="Comment(মন্তব্য করুন)"></textarea>
                        <input type="submit" value="Send" id="comment">
                    </form>
                </div>
            </dt>
            <dd><i class="fa-regular fa-heart"></i></dd>
            <dt><i class="fa-solid fa-cart-shopping"></i></dt>
            <dd><i class="fa-regular fa-share-from-square"></i></dd>
        </dl>
    </li>
    <li>
        <div class="card_head">
            <p>stock: <span>01</span></p>
            <i class="fa-solid fa-gift"></i>
        </div>
        <div class="meta_text">
            <div class="productImg">
                <img src="{% static 'flyshopbd/assets/image/product-1.png' %}" alt="Proudct">
            </div>
            <p>Acer Aspire E 15 E5-575G-57D4 15.6-Inches Full HDAspire E 15 E5-575G-57D4 15.6-Inches Full HD</p>
            <div class="review_star">
                <h5>Tk: <span>300</span><sub><del>200tk</del></sub></h5>
                <b>5<i class="fa-solid fa-star"></i></b>
            </div>
        </div>
        <dl class="review">
            <dt class="user_comment">
                <i class="fa-regular fa-comment-dots"></i>
                
                <div class="commentPd">
                    <form action="#" method="post">
                        <textarea name="Comment" id="Comment" rows="6" placeholder="Comment(মন্তব্য করুন)"></textarea>
                        <input type="submit" value="Send" id="comment">
                    </form>
                </div>
            </dt>
            <dd><i class="fa-regular fa-heart"></i></dd>
            <dt><i class="fa-solid fa-cart-shopping"></i></dt>
            <dd><i class="fa-regular fa-share-from-square"></i></dd>
        </dl>
    </li>
    <li>
        <div class="card_head">
            <p>stock: <span>01</span></p>
            <i class="fa-solid fa-gift"></i>
        </div>
        <div class="meta_text">
            <div class="productImg">
                <img src="{% static 'flyshopbd/assets/image/product-1.png' %}" alt="Proudct">
            </div>
            <p>Acer Aspire E 15 E5-575G-57D4 15.6-Inches Full HDAspire E 15 E5-575G-57D4 15.6-Inches Full HD</p>
            <div class="review_star">
                <h5>Tk: <span>300</span><sub><del>200tk</del></sub></h5>
                <b>5<i class="fa-solid fa-star"></i></b>
            </div>
        </div>
        <dl class="review">
            <dt class="user_comment">
                <i class="fa-regular fa-comment-dots"></i>
                
                <div class="commentPd">
                    <form action="#" method="post">
                        <textarea name="Comment" id="Comment" rows="6" placeholder="Comment(মন্তব্য করুন)"></textarea>
                        <input type="submit" value="Send" id="comment">
                    </form>
                </div>
            </dt>
            <dd><i class="fa-regular fa-heart"></i></dd>
            <dt><i class="fa-solid fa-cart-shopping"></i></dt>
            <dd><i class="fa-regular fa-share-from-square"></i></dd>
        </dl>
    </li>
    <li>
        <div class="card_head">
            <p>stock: <span>01</span></p>
            <i class="fa-solid fa-gift"></i>
        </div>
        <div class="meta_text">
            <div class="productImg">
                <img src="{% static 'flyshopbd/assets/image/product-1.png' %}" alt="Proudct">
            </div>
            <p>Acer Aspire E 15 E5-575G-57D4 15.6-Inches Full HDAspire E 15 E5-575G-57D4 15.6-Inches Full HD</p>
            <div class="review_star">
                <h5>Tk: <span>300</span><sub><del>200tk</del></sub></h5>
                <b>5<i class="fa-solid fa-star"></i></b>
            </div>
        </div>
        <dl class="review">
            <dt class="user_comment">
                <i class="fa-regular fa-comment-dots"></i>
                
                <div class="commentPd">
                    <form action="#" method="post">
                        <textarea name="Comment" id="Comment" rows="6" placeholder="Comment(মন্তব্য করুন)"></textarea>
                        <input type="submit" value="Send" id="comment">
                    </form>
                </div>
            </dt>
            <dd><i class="fa-regular fa-heart"></i></dd>
            <dt><i class="fa-solid fa-cart-shopping"></i></dt>
            <dd><i class="fa-regular fa-share-from-square"></i></dd>
        </dl>
    </li>
    <li>
        <div class="card_head">
            <p>stock: <span>01</span></p>
            <i class="fa-solid fa-gift"></i>
        </div>
        <div class="meta_text">
            <div class="productImg">
                <img src="{% static 'flyshopbd/assets/image/product-1.png' %}" alt="Proudct">
            </div>
            <p>Acer Aspire E 15 E5-575G-57D4 15.6-Inches Full HDAspire E 15 E5-575G-57D4 15.6-Inches Full HD</p>
            <div class="review_star">
                <h5>Tk: <span>300</span><sub><del>200tk</del></sub></h5>
                <b>5<i class="fa-solid fa-star"></i></b>
            </div>
        </div>
        <dl class="review">
            <dt class="user_comment">
                <i class="fa-regular fa-comment-dots"></i>
                
                <div class="commentPd">
                    <form action="#" method="post">
                        <textarea name="Comment" id="Comment" rows="6" placeholder="Comment(মন্তব্য করুন)"></textarea>
                        <input type="submit" value="Send" id="comment">
                    </form>
                </div>
            </dt>
            <dd><i class="fa-regular fa-heart"></i></dd>
            <dt><i class="fa-solid fa-cart-shopping"></i></dt>
            <dd><i class="fa-regular fa-share-from-square"></i></dd>
        </dl>
    </li>
</ul>