{% load static %}
<footer>
    <div class="container">
        <div class="footer_items">
            <div class="footer_contact">
                <h5>Contact Number or Mail</h5>
                <ul>
                    <li><i class="fa-solid fa-mobile-screen"></i> <p>+880 14-131-223</p></li>
                    <li><i class="fa-solid fa-mobile-screen"></i> <p>+880 14-131-223</p></li>
                    <li><i class="fa-regular fa-envelope"></i> <p>msmunnainfo@gmail.com</p></li>
                    <li><i class="fa-regular fa-envelope"></i> <p>flyshopinfo@gmail.com</p></li>
                </ul>
            </div>
            <div class="footer_page">
                <h5>My Account</h5>
                <ul>
                    <li><a href="login.html">My Account</a></li>
                    <li><a href="profile.html">Order History</a></li>
                    <li><a href="index.html">Brands</a></li>
                    <li><a href="policy.html">Privacy Policy</a></li>
                    <li><a href="policy.html">Refund And Return Policy</a></li>
                    <li><a href="policy.html">Terms &amp; Conditions</a></li>
                    <li><a href="index.html">EMI Information</a></li>
                    <li><a href="contact.html">Contact Us</a></li>
                </ul>
                <h5>Pay Width</h5>
                <img src="{% static 'flyshopbd/assets/image/payment.jpeg' %}" alt="">
            </div>
            <div class="footer_address">
                <h5>Shop Addres</h5>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam, exercitationem!
                </p>
                <ul>
                    <li><a href="index.html"><i class="fa-brands fa-linkedin-in"></i></a></li>
                    <li><a href="index.html"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="index.html"><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href="index.html"><i class="fa-brands fa-facebook-f"></i></a></li>
                    <li><a href="index.html"><i class="fa-brands fa-skype"></i></a></li>
                </ul>
                <br>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d468356.60843711597!2d88.70695318256921!3d23.49521265602782!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39fedc0492c838a3%3A0xf9deab2812a1b7cc!2sJhenaidah%20District!5e0!3m2!1sen!2sbd!4v1693820426770!5m2!1sen!2sbd" width="260" height="120" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
    <hr>
    <p class="copy">Copyright@ 2023 Flyshopbd.All Rights Reserved</p>
</footer>