{% load static %}
    <script src="{% static 'flyshopbd/assets/js/custom.js' %}"></script>
    <script src="{% static 'flyshopbd/assets/js/section/header.js' %}"></script>
    <script src="{% static 'flyshopbd/assets/js/section/home.js' %}"></script>
    <script src="{% static 'flyshopbd/assets/js/section/slider.js' %}"></script>
    <script src="{% static 'flyshopbd/assets/js/section/logos.js' %}"></script>
    <script src="{% static 'flyshopbd/assets/js/section/comment.js' %}"></script>
    <script src="{% static 'flyshopbd/assets/js/page/singleProduct.js' %}"></script>
    <script src="{% static 'flyshopbd/assets/js/page/productArea.js' %}"></script>