{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>Policy | Page</title>
{% endblock title %}


{% block content %}

       <!-- :::::::::::: Header Area Start ::::::::::::: -->
       {% include "flyshopbd/header.html" %}
       <!-- :::::::::::: Header Area End ::::::::::::: -->
   
       <!-- ::::: card added product ::::: -->
       {% include "flyshopbd/add-product.html" %}
       <!-- ::::: card added product end ::::: -->
   
       <!-- ::::: Product Details (Singla product) Start ::::: -->
       {% include "flyshopbd/product-area.html" %}
       <!-- ::::: Product Details End ::::: -->
   
       <!-- ::::: CheckOut ::::: -->
       {% include "flyshopbd/checkout.html" %}
       <!-- ::::::::::::: CheckOut End ::::::::::::: -->
   
       <!--::::: overlay::::: -->
       {% include "flyshopbd/overlay.html" %}
       <!--::::: overlay end::::: -->
    
    <div class="profile_are">
        <!-- :::::::::::: View Menu item Area Start ::::::::::::: -->
            <div class="profile policy">
                <!-- profile menu -->
                <div class="profile_menu">
                    <ul>
                        <li class="policyR active">
                            <p>Refund & Return</p>
                            <span><i class="fa-solid fa-person-walking-arrow-loop-left"></i></span>
                        </li>
                        <li class="privacyR">
                            <p>Privacy Policy</p>
                            <span><i class="fa-solid fa-shield-halved"></i></span>
                        </li>
                        <li class="tramsR">
                            <p>Trams & Conditions</p>
                            <span><i class="fa-regular fa-face-smile"></i></span>
                        </li>
                        <li class="logoutR">Logout</li>
                    </ul>
                </div>
                <!-- user profile -->
                <!-- <div class=""> -->
                    <div class="user_profile policy_area">
                        <!-- ::::::::::::::::::::::: Order ::::::::::::::::::::::: -->
                        <section class="policy" id="policyR">
                            <div class="policy_item">
                                <br>
                                <h4>রিটার্ন এন্ড রিফান্ডঃ</h4>
                                <br>
                                <ul>
                                    <li>
                                        <span><i class="fa-solid fa-0"></i></span>
                                        <div>
                                            <b>এখানে রিটার্ন এবং রিফান্ড বলতে বুঝানো হচ্ছে </b><br> 
                                            <q>
                                                যদি কাস্টমার অর্ডার করার পরে প্রোডাক্ট 
                                                ডেলিভারি পাবার পরে তা ফেরত দিতে চান।
                                            </q>
                                            <details>
                                                <p>
                                                    আমাদের রিটার্ন এবং রিফান্ড পলিসি খুবই সিম্পল এবং আমরা চেষ্টা করে থাকি 
                                                    কোন প্রোডাক্ট বা ডেলিভারি নিয়ে ইস্যু হলে তা সহজে এবং দ্রুততম সময়ের 
                                                    মধ্যে সলভ করার। এর জন্য কিছু নিয়ম অবশ্যই আপনাকে মনে রাখতে হবে-
                                                </p>
                                                <br>
                                                <br>
                                                <dl>
                                                    <dt>
                                                        <i class="fa-solid fa-angles-right"></i> 
                                                        ডেলিভারিম্যানের কাছ থেকে পণ্য প্রাপ্তির 24 ঘন্টার মধ্যে আপনাকে আমাদের অবহিত করতে হবে । 
                                                    </dt>
                                                    <dt>
                                                        <i class="fa-solid fa-angles-right"></i> 
                                                        যে পণ্যটি পেয়েছেন তা 'ক্ষতিগ্রস্ত', 'ত্রুটিপূর্ণ' হলে, আপনি এটিকে 7 দিনের মধ্যে বিনিময়/ ফেরত দিতে পারেন । 
                                                    </dt>
                                                    <dt>
                                                        <i class="fa-solid fa-angles-right"></i>
                                                        আমরা পরবর্তী 7 কার্যদিবসের মধ্যে (ঢাকার বাইরে 10 দিনের মধ্যে) আপনার সমস্যার সমাধান করব । 
                                                    </dt>
                                                    <dt>
                                                        <i class="fa-solid fa-angles-right"></i> 
                                                        কোন প্রোডাক্ট রিটার্ন করতে চাইলে তা অবশ্যই অরিজিনাল প্রোডাক্ট কন্ডিশন এবং ইন্ট্যাক্ট থাকতে হবে । 
                                                    </dt>
                                                    <dt>
                                                        <i class="fa-solid fa-angles-right"></i> 
                                                        সাথে যা যা ডেলিভারি করা হয়েছে সবকিছু সহ রিটার্ন করতে হবে ।
                                                    </dt>
                                                    <dt>
                                                        <i class="fa-solid fa-angles-right"></i> 
                                                        পার্সেল নিরাপদে আমাদের কাছে পৌঁছায় সে ব্যাবস্থা করতে হবে ।
                                                    </dt>
                                                    <dt>
                                                        <i class="fa-solid fa-angles-right"></i> 
                                                        প্রোডাক্ট যাচাই শেষে, টাকা ফেরত পেতে পারেন (কুরিয়ার চার্জ বাদে)।
                                                    </dt>
                                                    <dt>
                                                        <i class="fa-solid fa-angles-right"></i> 
                                                        যে মাধ্যমে পেমেন্ট করেছেন সেই মাধ্যমেই রিফান্ড করা হবে (মোবাইল ওয়ালেট  বা ক্রেডিট কার্ড)।
                                                    </dt>
                                                    <q>
                                                        বিশেষ দ্রষ্টব্য : প্রোডাক্ট রিসিভ করার পর আনবক্সিং এর সময় অবশ্যই একটি ভিডিও করবেন । 
                                                        এছাড়া প্রোডাক্ট এ কোন সমস্যা থাকলে তা এক্সচেঞ্জ এবং রিটার্নের উপযুক্ত বলে বিবেচিত হবে না ।
                                                    </q>
                                                    <br>
                                                    <br>
                                                    <q>
                                                        যদি আপনার ফেরত আইটেম উপরোক্ত প্রয়োজনীয়তা পূরণ না করে, তবে আমরা আপনার রিটার্ন এবং রিফান্ড অনুরোধ প্রত্যাখ্যান করার অধিকার রাখি ।
                                                        আপনার ফেরত অনুরোধ প্রত্যাখ্যান করা হলে, আইটেমটি 6-8 দিনের মধ্যে আপনার কাছে ফেরত পাঠানো হবে। 
                                                        তিনটি (২) ব্যর্থ ডেলিভারি প্রচেষ্টার পরে আইটেমটি স্ক্র্যাপে পাঠানো হবে এবং কোনও ফেরত দেওয়া হবে না।
                                                    </q>
                                                </dl>
                                            </details>
                                        </div>
                                    </li>
                                    <li></li>
                                    <!-- রিটার্নঃ -->
                                    <li>
                                        <span><i class="fa-solid fa-1"></i></span>
                                        <div>
                                            <b>রিটার্নঃ</b><br> 
                                            <q>
                                                ** যে যে ক্ষেত্রে ফ্রি রিটার্ন প্রযোজ্য হবে
                                            </q>
                                            <details>
                                                <dl>
                                                    <dt>
                                                        <i class="fa-solid fa-angles-right"></i> 
                                                        ভুল প্রোডাক্ট ডেলিভারি করা হলে ।
                                                    </dt>
                                                    <dt>
                                                        <i class="fa-solid fa-angles-right"></i> 
                                                        ভিন্ন কালার বা ভিন্ন সাইজ ডেলিভারি হলে ।
                                                    </dt>
                                                    <dt>
                                                        <i class="fa-solid fa-angles-right"></i>
                                                        তবে যদি মাইন্ড চেঞ্জ বা ব্যক্তিগত কারণে 
                                                        রিটার্ন করতে চাই সেক্ষেত্রে ডেলিভারি চার্জ ফেরত দেয়া হবে না ।
                                                    </dt>
                                                </dl>
                                            </details>
                                        </div>
                                    </li>
                                    <li></li>
                                    <!-- এক্সচেঞ্জ পলিসিঃ -->
                                    <li>
                                        <span><i class="fa-solid fa-2"></i></span>
                                        <div>
                                            <b>এক্সচেঞ্জ পলিসিঃ</b><br> 
                                            <q>
                                                ** যে যে ক্ষেত্রে ফ্রি এক্সচেঞ্জ প্রযোজ্য হবে
                                            </q>
                                            <details>
                                                <dl>
                                                    <dt>
                                                        <i class="fa-solid fa-angles-right"></i> 
                                                        ভুল প্রোডাক্ট বা ত্রুটিপূর্ণ প্রোডাক্ট ডেলিভারি হলে, ফ্রি এক্সচেঞ্জ করার সুযোগ রয়েছে ।
                                                    </dt>
                                                    <dt>
                                                        <i class="fa-solid fa-angles-right"></i> 
                                                        সেক্ষেত্রে প্রোডাক্ট কুরিয়ার করে আমাদের ঠিকানায় পাঠাতে হবে ।
                                                    </dt>
                                                    <dt>
                                                        <i class="fa-solid fa-angles-right"></i>
                                                        শুধুমাত্র ভুল প্রোডাক্ট বা ফল্টি প্রোডাক্ট এর ক্ষেত্রে আমরা ফ্রি এক্সচেঞ্জ অফার করে থাকি ।
                                                    </dt>
                                                    <dt>
                                                        <i class="fa-solid fa-angles-right"></i>
                                                        প্রোডাক্ট যাচাই শেষে, টাকা ফেরত পেতে পারেন (কুরিয়ার চার্জ বাদে) ।
                                                    </dt>
                                                </dl>
                                            </details>
                                        </div>
                                    </li>
                                    <li></li>
                                    <!-- **রিফান্ডঃ -->
                                    <li>
                                        <span><i class="fa-solid fa-3"></i></span>
                                        <div>
                                            <b>**রিফান্ডঃ</b><br> 
                                            <q>
                                                ** যে যে ক্ষেত্রে রিফান্ড প্রযোজ্য হবে
                                            </q>
                                            <details>
                                                <dl>
                                                    <dt>
                                                        <i class="fa-solid fa-angles-right"></i> 
                                                        আপনার টাকা আমাদের কাছে 100% নিরাপদ।
                                                    </dt>
                                                    <dt>
                                                        <i class="fa-solid fa-angles-right"></i>
                                                        আমরা অর্ডার করা পণ্য/গুলি সরবরাহ করতে অক্ষম হলে ।
                                                    </dt>
                                                    <dt>
                                                        <i class="fa-solid fa-angles-right"></i>
                                                        আমরা একটি প্রতিস্থাপন প্রদান করতে অক্ষম হলে ।
                                                    </dt>
                                                    <dt>
                                                        <i class="fa-solid fa-angles-right"></i>
                                                        যদি আপনার কাছে একটি ভিন্ন পণ্য সরবরাহ করা হয়।
                                                    </dt>
                                                    <dt>
                                                        <i class="fa-solid fa-angles-right"></i> 
                                                        প্রোডাক্ট রিটার্ন আসার পর আমাদের টিম থেকে চেক করা হবে ।
                                                    </dt>
                                                    <dt>
                                                        <i class="fa-solid fa-angles-right"></i> 
                                                        অরিজিনাল এবং সেলেবল কন্ডিশনে থাকলে, প্রোডাক্ট রিসিভ করে চেক করার ৭২ ঘণ্টার মধ্যে রিফান্ড করে দেয়া হবে ।
                                                    </dt>
                                                    <dt>
                                                        <i class="fa-solid fa-angles-right"></i>
                                                        যে মাধ্যমে পেমেন্ট করেছেন সেই মাধ্যমেই রিফান্ড করা হবে। { ইনশাআল্লাহ }
                                                    </dt>
                                                </dl>
                                            </details>
                                        </div>
                                    </li>
                                    <li></li>
                                    <!-- যে যে ক্ষেত্রে রিটার্ন এবং এক্সচেঞ্জ প্রযোজ্য হবে না -->
                                    <li>
                                        <span><i class="fa-solid fa-4"></i></span>
                                        <div>
                                            <b>যে যে ক্ষেত্রে রিটার্ন এবং এক্সচেঞ্জ প্রযোজ্য হবে না ।</b><br> 
                                            <q>
                                                শর্তগুলো.....
                                            </q>
                                            <details>
                                                <dl>
                                                    <dt>
                                                        <i class="fa-solid fa-angles-right"></i> 
                                                        অফারে ক্রয় করা কোন প্রোডাক্ট রিটার্ন এবং এক্সচেঞ্জ করা যাবে না ।
                                                    </dt>
                                                    <dt>
                                                        <i class="fa-solid fa-angles-right"></i> 
                                                        বিক্রয়/ডিসকাউন্ট অফারের অধীনে বিক্রি হওয়া প্রোডাক্ট 
                                                        যদি ত্রুটিপূর্ণ বা ক্ষতিগ্রস্থ হয় তবে তা রিটার্ন এবং এক্সচেঞ্জ দেওয়া যাবে।
                                                    </dt>
                                                    <dt>
                                                        <i class="fa-solid fa-angles-right"></i>
                                                        তবে যদি মাইন্ড চেঞ্জ বা ব্যক্তিগত কারণে 
                                                        রিটার্ন এবং এক্সচেঞ্জ করতে চাই সেক্ষেত্রে প্রযোজ্য হবে না ।
                                                    </dt>
                                                    <dt>
                                                        <i class="fa-solid fa-angles-right"></i>
                                                        যে পণ্যগুলি কম্বো হিসাবে বা সেটে বিক্রি হয়েছিল, সেগুলি পৃথক আইটেম হিসাবে রিটার্ন এবং এক্সচেঞ্জ প্রযোজ্য হবে না ।
                                                    </dt>
                                                    <dt>
                                                        <i class="fa-solid fa-angles-right"></i>
                                                        পণ্য ব্যবহার করা হলে রিটার্ন এবং এক্সচেঞ্জ প্রযোজ্য হবে না ।
                                                    </dt>
                                                </dl>
                                            </details>
                                        </div>
                                    </li>
                                    <li></li>
                                    <!-- রিটার্ন এবং এক্সচেঞ্জ জন্য, অনুগ্রহ করে এই পদক্ষেপগুলি অনুসরণ করুন -->
                                    <li>
                                        <span><i class="fa-solid fa-5"></i></span>
                                        <div>
                                            <b>রিটার্ন এবং এক্সচেঞ্জ জন্য, অনুগ্রহ করে এই পদক্ষেপগুলি অনুসরণ করুন ।</b><br> 
                                            <q>
                                                শর্তগুলো.....
                                            </q>
                                            <details>
                                                <dl>
                                                    <dt>
                                                        <i class="fa-solid fa-angles-right"></i> 
                                                        আপনার অর্ডার আইডি/ইনভয়েস সহ আপনি যে সমস্যার সম্মুখীন বা সম্মুখীন হচ্ছেন তা শেয়ার করুন ।
                                                    </dt>
                                                    <dt>
                                                        <i class="fa-solid fa-angles-right"></i> 
                                                        ডেলিভারি প্যাকেজ পাওয়ার 24 ঘন্টার মধ্যে আমাদের ইমেল বা হটলাইন নম্বরে যোগাযোগ করুন ।(flyshopbd.com)(+880 9638-547000)
                                                    </dt>
                                                    <dt>
                                                        <i class="fa-solid fa-angles-right"></i> 
                                                        নিশ্চিত করুন যে পণ্যটি অব্যবহৃত এবং আসল অবস্থায় আছে। পণ্যের সাথে সমস্ত মূল্য ট্যাগ, লেবেল, 
                                                        আসল প্যাকিং এবং চালান অন্তর্ভুক্ত করুন ।
                                                    </dt>
                                                    <dt>
                                                        <i class="fa-solid fa-angles-right"></i> 
                                                        আমরা রিটার্ন এবং এক্সচেঞ্জ অনুরোধ নিশ্চিত করব এবং পিকআপ প্রক্রিয়া সম্পর্কে আপনাকে অবহিত করব ।
                                                    </dt>
                                                    <dt>
                                                        <i class="fa-solid fa-angles-right"></i> 
                                                        আপনাকে 3 দিনের মধ্যে আমাদের পণ্য/গুলি পাঠাতে হবে ।
                                                    </dt>
                                                    <dt>
                                                        <i class="fa-solid fa-angles-right"></i> 
                                                        প্রোডাক্ট যাচাই শেষে, রিটার্ন এবং এক্সচেঞ্জ পেতে পারেন ।
                                                    </dt>
                                                </dl>
                                            </details>
                                        </div>
                                    </li>
                                    <li></li>
                                    <!-- রিটার্ন এবং এক্সচেঞ্জ জন্য, অনুগ্রহ করে এই পদক্ষেপগুলি অনুসরণ করুন -->
                                    <li>
                                        <span><i class="fa-solid fa-6"></i></span>
                                        <div>
                                            <b>রিটার্ন এবং এক্সচেঞ্জ জন্য, অনুগ্রহ করে এই পদক্ষেপগুলি অনুসরণ করুন ।</b><br> 
                                            <q>
                                                শর্তগুলো.....
                                            </q>
                                            <details>
                                                <dl>
                                                    <dt>
                                                        <i class="fa-solid fa-angles-right"></i> 
                                                        আপনার অর্ডার আইডি/ইনভয়েস সহ আপনি যে সমস্যার সম্মুখীন বা সম্মুখীন হচ্ছেন তা শেয়ার করুন ।
                                                    </dt>
                                                    <dt>
                                                        <i class="fa-solid fa-angles-right"></i> 
                                                        ডেলিভারি প্যাকেজ পাওয়ার 24 ঘন্টার মধ্যে আমাদের ইমেল বা হটলাইন নম্বরে যোগাযোগ করুন ।(flyshopbd.com)(+880 9638-547000)
                                                    </dt>
                                                    <dt>
                                                        <i class="fa-solid fa-angles-right"></i> 
                                                        নিশ্চিত করুন যে পণ্যটি অব্যবহৃত এবং আসল অবস্থায় আছে। পণ্যের সাথে সমস্ত মূল্য ট্যাগ, লেবেল, 
                                                        আসল প্যাকিং এবং চালান অন্তর্ভুক্ত করুন ।
                                                    </dt>
                                                    <dt>
                                                        <i class="fa-solid fa-angles-right"></i> 
                                                        আমরা রিটার্ন এবং এক্সচেঞ্জ অনুরোধ নিশ্চিত করব এবং পিকআপ প্রক্রিয়া সম্পর্কে আপনাকে অবহিত করব ।
                                                    </dt>
                                                    <dt>
                                                        <i class="fa-solid fa-angles-right"></i> 
                                                        আপনাকে 3 দিনের মধ্যে আমাদের পণ্য/গুলি পাঠাতে হবে ।
                                                    </dt>
                                                    <dt>
                                                        <i class="fa-solid fa-angles-right"></i> 
                                                        প্রোডাক্ট যাচাই শেষে, রিটার্ন এবং এক্সচেঞ্জ পেতে পারেন ।
                                                    </dt>
                                                </dl>
                                            </details>
                                        </div>
                                    </li>
                                    <li></li>
                                    <!-- যে ক্ষেত্রে আমরা রিটার্ন ডেলিভারি চার্জ বহন করব -->
                                    <li>
                                        <span><i class="fa-solid fa-7"></i></span>
                                        <div>
                                            <b>যে ক্ষেত্রে আমরা রিটার্ন ডেলিভারি চার্জ বহন করব ।</b><br> 
                                            <q>
                                                শর্তগুলো.....
                                            </q>
                                            <details>
                                                <dl>
                                                    <dt>
                                                        <i class="fa-solid fa-angles-right"></i> 
                                                        আকার বা রঙ সমস্যা ।
                                                    </dt>
                                                    <dt>
                                                        <i class="fa-solid fa-angles-right"></i> 
                                                        আপনি যদি একটি ত্রুটিপূর্ণ পণ্য পেয়ে থাকেন ।
                                                    </dt>
                                                    <dt>
                                                        <i class="fa-solid fa-angles-right"></i> 
                                                        যদি পণ্যটি ওয়েবসাইটের বর্ণনা থেকে ভিন্ন হয়।
                                                    </dt>
                                                </dl>
                                            </details>
                                        </div>
                                    </li>
                                    <li></li>
                                    <!-- যে ক্ষেত্রে আপনি রিটার্ন ডেলিভারি চার্জ বহন করবেন -->
                                    <li>
                                        <span><i class="fa-solid fa-8"></i></span>
                                        <div>
                                            <b>যে ক্ষেত্রে আপনি রিটার্ন ডেলিভারি চার্জ বহন করবেন ।</b><br> 
                                            <q>
                                                আপনি যদি আপনার মন পরিবর্তন করেন এবং পণ্য ইতিমধ্যেই বিতরণ করার পরে বুকিং বাতিল করেন ।
                                            </q>
                                        </div>
                                    </li>
                                    <li></li>
                                    <!-- যে ক্ষেত্রে আপনি রিটার্ন ডেলিভারি চার্জ বহন করবেন -->
                                    <li>
                                        <span><i class="fa-solid fa-9"></i></span>
                                        <div>
                                            <b>যে ক্ষেত্রে আপনি রিটার্ন ডেলিভারি চার্জ বহন করবেন ।</b><br> 
                                            <q>
                                                আপনি যদি আপনার মন পরিবর্তন করেন এবং পণ্য ইতিমধ্যেই বিতরণ করার পরে বুকিং বাতিল করেন ।
                                            </q>
                                            <details>
                                                <dl>
                                                    <dt>
                                                        <i class="fa-solid fa-angles-right"></i> 
                                                    </dt>
                                                    <dt>
                                                        <i class="fa-solid fa-angles-right"></i> 
                                                        আপনি যদি একটি ত্রুটিপূর্ণ পণ্য পেয়ে থাকেন ।
                                                    </dt>
                                                    <dt>
                                                        <i class="fa-solid fa-angles-right"></i> 
                                                        যদি পণ্যটি ওয়েবসাইটের বর্ণনা থেকে ভিন্ন হয়।
                                                    </dt>
                                                </dl>
                                            </details>
                                        </div>
                                    </li>
                                    
                                </ul>
                            </div>
                        </section>
                        <section class="privacyR" id="privacyR">
                            <div class="policy_item">
                                <br>
                                <h4>রিটার্ন এন্ড রিফান্ডঃ</h4>
                                <br>
                                <ul>
                                    <li>
                                        <span><i class="fa-solid fa-1"></i></span>
                                        <div>
                                            <b>এখানে রিটার্ন এবং রিফান্ড বলতে বুঝানো হচ্ছে </b><br> 
                                            <q>
                                                যদি কাস্টমার অর্ডার করার পরে প্রোডাক্ট 
                                                ডেলিভারি পাবার পরে তা ফেরত দিতে চান।
                                            </q>
                                            <details>
                                                <p>
                                                    আমাদের রিটার্ন এবং রিফান্ড পলিসি খুবই সিম্পল এবং আমরা চেষ্টা করে থাকি 
                                                    কোন প্রোডাক্ট বা ডেলিভারি নিয়ে ইস্যু হলে তা সহজে এবং দ্রুততম সময়ের 
                                                    মধ্যে সলভ করার। এর জন্য কিছু নিয়ম অবশ্যই আপনাকে মনে রাখতে হবে-
                                                </p>
                                                <br>
                                                <br>
                                                <dl>
                                                    <dt>
                                                        <i class="fa-solid fa-angles-right"></i> 
                                                        ডেলিভারিম্যানের কাছ থেকে পণ্য প্রাপ্তির 24 ঘন্টার মধ্যে আপনাকে আমাদের অবহিত করতে হবে । 
                                                    </dt>
                                                    <dt>
                                                        <i class="fa-solid fa-angles-right"></i> 
                                                        যে পণ্যটি পেয়েছেন তা 'ক্ষতিগ্রস্ত', 'ত্রুটিপূর্ণ' হলে, আপনি এটিকে 7 দিনের মধ্যে বিনিময়/ ফেরত দিতে পারেন । 
                                                    </dt>
                                                    <dt>
                                                        <i class="fa-solid fa-angles-right"></i>
                                                        আমরা পরবর্তী 7 কার্যদিবসের মধ্যে (ঢাকার বাইরে 10 দিনের মধ্যে) আপনার সমস্যার সমাধান করব । 
                                                    </dt>
                                                    <q>
                                                        বিশেষ দ্রষ্টব্য : প্রোডাক্ট রিসিভ করার পর আনবক্সিং এর সময় অবশ্যই একটি ভিডিও করবেন । 
                                                        এছাড়া প্রোডাক্ট এ কোন সমস্যা থাকলে তা এক্সচেঞ্জ এবং রিটার্নের উপযুক্ত বলে বিবেচিত হবে না ।
                                                    </q>
                                                    <br>
                                                    <br>
                                                    <q>
                                                        যদি আপনার ফেরত আইটেম উপরোক্ত প্রয়োজনীয়তা পূরণ না করে, তবে আমরা আপনার রিটার্ন এবং রিফান্ড অনুরোধ প্রত্যাখ্যান করার অধিকার রাখি ।
                                                        আপনার ফেরত অনুরোধ প্রত্যাখ্যান করা হলে, আইটেমটি 6-8 দিনের মধ্যে আপনার কাছে ফেরত পাঠানো হবে। 
                                                        তিনটি (২) ব্যর্থ ডেলিভারি প্রচেষ্টার পরে আইটেমটি স্ক্র্যাপে পাঠানো হবে এবং কোনও ফেরত দেওয়া হবে না।
                                                    </q>
                                                </dl>
                                            </details>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </section>
                        <section class="tramsR" id="tramsR">
                            <div class="policy_item">
                                <br>
                                <h4>রিটার্ন এন্ড রিফান্ডঃ</h4>
                                <br>
                                <ul>
                                    <li>
                                        <span><i class="fa-solid fa-1"></i></span>
                                        <div>
                                            <b>এখানে রিটার্ন এবং রিফান্ড বলতে বুঝানো হচ্ছে </b><br> 
                                            <q>
                                                যদি কাস্টমার অর্ডার করার পরে প্রোডাক্ট 
                                                ডেলিভারি পাবার পরে তা ফেরত দিতে চান।
                                            </q>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </section>
                        <!-- <section class="profile_order" id="userAddress">
                            <div class="policy_item">
                                <br>
                                <h4>রিটার্ন এন্ড রিফান্ডঃ</h4>
                                <br>
                            </div>  
                        </section> -->
                        <!-- ::::::::::::::::::::::: Order ::::::::::::::::::::::: -->
                        <!-- ::::::::::::::::::::::: Order ::::::::::::::::::::::: -->
                        {% include "flyshopbd/footer.html" %}
                    </div>
                <!-- </div> -->
            </div>
        <!-- :::::::::::: View Menu Area End ::::::::::::: -->
    </div>

    <!-- :::::::::::: js :::::::::::: -->
    <script src="{% static 'flyshopbd/assets/js/custom.js' %}"></script>
    <script src="{% static 'flyshopbd/assets/js/section/header.js' %}"></script>
    <script src="{% static 'flyshopbd/assets/js/page/policy.js' %}"></script>
    
{% endblock content %}

{% block js_file %}
{% endblock js_file %}