{% load static %}

<div class="product_area">
    <div class="close_pdDtl">
        <i class="fa-solid fa-xmark"></i>
    </div>
    <div class="pd_dtl">
        <div class="pdDtl_data">
            <div>
                <div class="pdDtl_img" id="demo_show">
                    <img src="{% static 'flyshopbd/assets/image/product-1.png' %}" alt="Product">
                </div>
                <ul class="pdDtl_slider" id="demo_imgs">
                    <li>
                        <img src="{% static 'flyshopbd/assets/image/phone-1.png' %}" alt="Product">
                    </li>
                    <li>
                        <img src="{% static 'flyshopbd/assets/image/product-2.png' %}" alt="Product">
                    </li>
                    <li>
                        <img src="{% static 'flyshopbd/assets/image/product-3.png' %}" alt="Product">
                    </li>
                    <li>
                        <img src="{% static 'flyshopbd/assets/image/product-1.png' %}" alt="Product">
                    </li>
                </ul>
            </div>
            <div class="pdDtl_contant">
                <h4>Kieslect Lora 2 Lady Calling Smart Watch</h4>
                <ul>
                    <li>1.3 HD AMOLED Display</li>
                    <li>100+ Sports Modes</li>
                    <li>1.3 HD AMOLED Display</li>
                    <li>100+ Sports Modes</li>
                    <li>
                        <p>
                            wranty Lorem ipsum dolor sit amet
                            wranty Lorem ipsum dolor sit amet
                            wranty Lorem ipsum dolor sit amet
                            wranty Lorem ipsum dolor sit amet
                            wranty Lorem ipsum dolor sit amet
                            wranty Lorem ipsum dolor sit amet
                            wranty Lorem ipsum dolor sit amet
                            wranty Lorem ipsum dolor sit amet
                        </p>
                    </li>
                    <li><h6>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, eos?</h6></li>
                </ul>
                <h4>Tk: 142000</h4>
                <!-- <ul class="pdDtl_color">
                    <li><i class="fa-solid fa-circle"></i></li>
                    <li><i class="fa-solid fa-circle"></i></li>
                    <li><i class="fa-solid fa-circle"></i></li>
                </ul> -->
                <div class="pdDtl_btn">
                    <div>
                        <button>Add Card</button>
                        <button>Add Card</button>
                    </div>
                    <div class="pdShow_dtl">
                        <small>Show Details</small> 
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                </div>
            </div>
        </div>
        <!-- single product none section -->
        <div class="pdDtl_more">
            <ul class="more_item">
                <li><button>Spaces</button></li>
                <li><button>Details</button></li>
                <li><button>Reviews</button></li>
                <li><button>Videos</button></li>
            </ul>
            <div class="pdMore_data">
                <ul class="pd_spaci">
                    <li><h4>Specification</h4></li>
                    <li>
                        <h6>Brand</h6>
                        <p>: Imiab Lorem ipsum dolor sit amet.</p>
                    </li>
                    <li>
                        <h6>Model No</h6>
                        <p>: ColorFit Pro 4 Alpha</p>
                    </li>
                    <li>
                        <h6>Battery capacity</h6>
                        <p>: 270 mAh</p>
                    </li>
                    <li>
                        <h6>Model No</h6>
                        <p>: ColorFit Pro 4 Alpha</p>
                    </li>
                    <li>
                        <h6>Battery capacity</h6>
                        <p>: 270 mAh</p>
                    </li>
                    <li>
                        <h6>Model No</h6>
                        <p>: ColorFit Pro 4 Alpha</p>
                    </li>
                    <li>
                        <h6>Battery capacity</h6>
                        <p>: 270 mAh</p>
                    </li>
                </ul>
                <ul class="pd_desc">
                    <li><h4>Model No: T13</h4></li>
                    <li><h6>Support Bluetooth Profile: HFP, HSP, A2DP, AVRCP</h6></li>
                    <li><h6>Support Bluetooth Profile: HFP, HSP, A2DP, AVRCP</h6></li>
                    <li><h6>Model No: T13</h6></li>
                    <li><h6>Support Bluetooth Profile: HFP, HSP, A2DP, AVRCP</h6></li>
                    <li><h6>Support Bluetooth Profile: HFP, HSP, A2DP, AVRCP</h6></li>
                    <li><h6>Support Bluetooth Profile: HFP, HSP, A2DP, AVRCP</h6></li>
                    <li><h6>Model No: T13</h6></li>
                </ul>
            </div>
            <div class="pdDtlImgSlider">
                <ul class="pdDtl_img qqq">
                    <li><img src="{% static 'flyshopbd/assets/image/phone-1.png' %}" alt="Product"></li>
                    <li><img src="{% static 'flyshopbd/assets/image/phone-2.png' %}" alt="Product"></li>
                    <li><img src="{% static 'flyshopbd/assets/image/phone-3.png' %}" alt="Product"></li>
                    <li><img src="{% static 'flyshopbd/assets/image/product-1.png' %}" alt="Product"></li>
                    <li><img src="{% static 'flyshopbd/assets/image/product-2.png' %}" alt="Product"></li>
                    <li><img src="{% static 'flyshopbd/assets/image/product-3.png' %}" alt="Product"></li>
                </ul>
                <div class="slider_btn">
                    <div class="slider_icon1 btn_img" id="sliderLeft">
                        <i class="fa-solid fa-chevron-left"></i>
                    </div>
                    <div class="slider_icon2 btn_img" id="sliderRight">
                        <i class="fa-solid fa-chevron-right"></i>
                    </div>
                </div>
            </div>
            <br>
            <ul>
                <li>
                    <samp>
                        <b>Lorem ipsum dolor sit amet</b>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                        Vitae sint id iusto et accusantium ut, vero architecto 
                        consequuntur totam soluta.
                    </samp>
                </li>
                <li>
                    <samp>
                        <b>Lorem ipsum dolor sit amet</b>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                        Vitae sint id iusto et accusantium ut, vero architecto 
                        consequuntur totam soluta.
                    </samp>
                </li>
                <li>
                    <samp>
                        <b>Lorem ipsum dolor sit amet</b>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                        Vitae sint id iusto et accusantium ut, vero architecto 
                        consequuntur totam soluta.
                    </samp>
                </li>
                <li>
                    <samp>
                        <b>Lorem ipsum dolor sit amet</b>
                        Lorem, ipsum dolor sit amet 
                    </samp>
                </li>
                <li>
                    <samp>
                        <b>Lorem ipsum dolor sit amet</b>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                        Vitae sint 
                    </samp>
                </li>
            </ul>
            <br>
            <!-- <div class="pdDtlImgSlider">
                <ul class="all_product qqqs">
                    <li>
                        <div class="card_head">
                            <p>stock: <span>01</span></p>
                            <i class="fa-solid fa-gift"></i>
                        </div>
                        <div class="meta_text">
                            <div class="productImg">
                                <img src="{% static 'flyshopbd/assets/image/product-1.png' %}" alt="Proudct">
                            </div>
                            <p>Acer Aspire E 15 E5-575G-57D4 15.6-Inches Full HDAspire E 15 E5-575G-57D4 15.6-Inches Full HD</p>
                            <div class="review_star">
                                <h5>Tk: <span>300</span><sub><del>200tk</del></sub></h5>
                                <b>5<i class="fa-solid fa-star"></i></b>
                            </div>
                        </div>
                        <div class="review">
                            <i class="fa-regular fa-comment-dots"></i>
                            <i class="fa-regular fa-heart"></i>
                            <i class="fa-solid fa-cart-shopping"></i>
                            <i class="fa-regular fa-share-from-square"></i>
                        </div>
                    </li>
                    <li>
                        <div class="card_head">
                            <p>stock: <span>01</span></p>
                            <i class="fa-solid fa-gift"></i>
                        </div>
                        <div class="meta_text">
                            <div class="productImg">
                                <img src="{% static 'flyshopbd/assets/image/product-1.png' %}" alt="Proudct">
                            </div>
                            <p>Acer Aspire E 15 E5-575G-57D4 15.6-Inches Full HDAspire E 15 E5-575G-57D4 15.6-Inches Full HD</p>
                            <div class="review_star">
                                <h5>Tk: <span>300</span><sub><del>200tk</del></sub></h5>
                                <b>5<i class="fa-solid fa-star"></i></b>
                            </div>
                        </div>
                        <div class="review">
                            <i class="fa-regular fa-comment-dots"></i>
                            <i class="fa-regular fa-heart"></i>
                            <i class="fa-solid fa-cart-shopping"></i>
                            <i class="fa-regular fa-share-from-square"></i>
                        </div>
                    </li>
                    <li>
                        <div class="card_head">
                            <p>stock: <span>01</span></p>
                            <i class="fa-solid fa-gift"></i>
                        </div>
                        <div class="meta_text">
                            <div class="productImg">
                                <img src="{% static 'flyshopbd/assets/image/product-1.png' %}" alt="Proudct">
                            </div>
                            <p>Acer Aspire E 15 E5-575G-57D4 15.6-Inches Full HDAspire E 15 E5-575G-57D4 15.6-Inches Full HD</p>
                            <div class="review_star">
                                <h5>Tk: <span>300</span><sub><del>200tk</del></sub></h5>
                                <b>5<i class="fa-solid fa-star"></i></b>
                            </div>
                        </div>
                        <div class="review">
                            <i class="fa-regular fa-comment-dots"></i>
                            <i class="fa-regular fa-heart"></i>
                            <i class="fa-solid fa-cart-shopping"></i>
                            <i class="fa-regular fa-share-from-square"></i>
                        </div>
                    </li>
                    <li>
                        <div class="card_head">
                            <p>stock: <span>01</span></p>
                            <i class="fa-solid fa-gift"></i>
                        </div>
                        <div class="meta_text">
                            <div class="productImg">
                                <img src="{% static 'flyshopbd/assets/image/product-1.png' %}" alt="Proudct">
                            </div>
                            <p>Acer Aspire E 15 E5-575G-57D4 15.6-Inches Full HDAspire E 15 E5-575G-57D4 15.6-Inches Full HD</p>
                            <div class="review_star">
                                <h5>Tk: <span>300</span><sub><del>200tk</del></sub></h5>
                                <b>5<i class="fa-solid fa-star"></i></b>
                            </div>
                        </div>
                        <div class="review">
                            <i class="fa-regular fa-comment-dots"></i>
                            <i class="fa-regular fa-heart"></i>
                            <i class="fa-solid fa-cart-shopping"></i>
                            <i class="fa-regular fa-share-from-square"></i>
                        </div>
                    </li>
                    <li>
                        <div class="card_head">
                            <p>stock: <span>01</span></p>
                            <i class="fa-solid fa-gift"></i>
                        </div>
                        <div class="meta_text">
                            <div class="productImg">
                                <img src="{% static 'flyshopbd/assets/image/product-1.png' %}" alt="Proudct">
                            </div>
                            <p>Acer Aspire E 15 E5-575G-57D4 15.6-Inches Full HDAspire E 15 E5-575G-57D4 15.6-Inches Full HD</p>
                            <div class="review_star">
                                <h5>Tk: <span>300</span><sub><del>200tk</del></sub></h5>
                                <b>5<i class="fa-solid fa-star"></i></b>
                            </div>
                        </div>
                        <div class="review">
                            <i class="fa-regular fa-comment-dots"></i>
                            <i class="fa-regular fa-heart"></i>
                            <i class="fa-solid fa-cart-shopping"></i>
                            <i class="fa-regular fa-share-from-square"></i>
                        </div>
                    </li>
                </ul>
                <div class="slider_btn">
                    <div class="slider_icon1 btn_img" id="sliderProduct">
                        <i class="fa-solid fa-chevron-left"></i>
                    </div>
                    <div class="slider_icon2 btn_img" id="sliderProductr">
                        <i class="fa-solid fa-chevron-right"></i>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>