<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlyshopBD</title>
    <link rel="stylesheet" href="assets/css/all.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>


    <!-- :::::::::::: Header Area Start ::::::::::::: -->
    <header>
        <div class="container">
            <nav>
                <div class="nav_logo"><a href="index.html"><img src="assets/image/logo.png" alt="Logo"></a></div>
                <div class="search">
                    <form action="#">
                        <div class="search_bar">
                            <input type="text" placeholder="Search for Products">
                            <i class="fa-solid fa-magnifying-glass"></i>

                            <!-- suggestion ______________ -->
                            <ul class="suggestion_bar">
                                <li><img src="assets/image/product.png" alt="Product"> <p>Product</p></li>
                                <li><img src="assets/image/product.png" alt="Product"> 
                                    <p>Product Lorem ipsum dolor sit amet Lorem ipsum dolor sit. consectetur adipisicing elit. Suscipit, aliquam.</p>
                                </li>
                                <li><img src="assets/image/product.png" alt="Product"> <p>Product</p></li>
                                <li><img src="assets/image/product.png" alt="Product"> <p>Product</p></li>
                                <li><img src="assets/image/product.png" alt="Product"> <p>Product</p></li>
                                <li><img src="assets/image/product.png" alt="Product"> <p>Product</p></li>
                            </ul>
                        </div>
                    </form>
                </div>
                <!-- tab bar ______________ -->
                <div class="tab_bar">
                    <!-- <div class="nav_menu">
                        <i class="fa-solid fa-bars"></i>
                    </div> -->
                    <ul class="shopping">
                        <li><a href="#"><i class="fa-regular fa-heart"></i></a></li>
                        <li><a href="singUp.html"><i class="fa-regular fa-user"></i></a></li>
                        <li class="card_add">
                            <i class="fa-solid fa-cart-shopping"></i>
                            <b class="card_count">0</b>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <!-- :::::::::::: Header Area End ::::::::::::: -->
    <!-- ::::: card added product ::::: -->
    <section class="add_product">
        <ul>
            <li class="close"><h5>Close</h5></li>
            <li>
                <div class="addPd_img">
                    <img src="assets/image/phone-1.png" alt="product">
                </div>
                <div class="addPd_data">
                    <h6>
                        3M GoldPrivacy Filter for 17" 
                        Widescreen Laptop (16:10) (GF170W1B)
                        Widescreen Laptop (16:10) (GF170W1B)
                    </h6>
                    <div class="addPd_price">
                        <h5><span>6800 tk</span><small>(6800*1)</small></h5>
                        <i class="fa-regular fa-trash-can"></i>
                    </div>
                    <div class="addPd_icon">
                        <i class="fa-solid fa-minus"></i>
                        <h5>1</h5>
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </div>
            </li>
            <li>
                <div class="addPd_img">
                    <img src="assets/image/phone-2.png" alt="product">
                </div>
                <div class="addPd_data">
                    <h6>
                        3M GoldPrivacy Filter for 17" 
                        Widescreen Laptop (16:10) (GF170W1B)
                        Widescreen Laptop (16:10) (GF170W1B)
                    </h6>
                    <div class="addPd_price">
                        <h5><span>6800 tk</span><small>(6800*1)</small></h5>
                        <i class="fa-regular fa-trash-can"></i>
                    </div>
                    <div class="addPd_icon">
                        <i class="fa-solid fa-minus"></i>
                        <h5>1</h5>
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </div>
            </li>
            <li>
                <div class="addPd_img">
                    <img src="assets/image/product-1.png" alt="product">
                </div>
                <div class="addPd_data">
                    <h6>
                        3M GoldPrivacy Filter for 17" 
                        Widescreen Laptop (16:10) (GF170W1B)
                        Widescreen Laptop (16:10) (GF170W1B)
                    </h6>
                    <div class="addPd_price">
                        <h5><span>6800 tk</span><small>(6800*1)</small></h5>
                        <i class="fa-regular fa-trash-can"></i>
                    </div>
                    <div class="addPd_icon">
                        <i class="fa-solid fa-minus"></i>
                        <h5>1</h5>
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </div>
            </li>
            <li>
                <div class="addPd_img">
                    <img src="assets/image/product-2.png" alt="product">
                </div>
                <div class="addPd_data">
                    <h6>
                        3M GoldPrivacy Filter for 17" 
                        Widescreen Laptop (16:10) (GF170W1B)
                        Widescreen Laptop (16:10) (GF170W1B)
                    </h6>
                    <div class="addPd_price">
                        <h5><span>6800 tk</span><small>(6800*1)</small></h5>
                        <i class="fa-regular fa-trash-can"></i>
                    </div>
                    <div class="addPd_icon">
                        <i class="fa-solid fa-minus"></i>
                        <h5>1</h5>
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </div>
            </li>
            <li>
                <div class="addPd_img">
                    <img src="assets/image/product-2.png" alt="product">
                </div>
                <div class="addPd_data">
                    <h6>
                        3M GoldPrivacy Filter for 17" 
                        Widescreen Laptop (16:10) (GF170W1B)
                        Widescreen Laptop (16:10) (GF170W1B)
                    </h6>
                    <div class="addPd_price">
                        <h5><span>6800 tk</span><small>(6800*1)</small></h5>
                        <i class="fa-regular fa-trash-can"></i>
                    </div>
                    <div class="addPd_icon">
                        <i class="fa-solid fa-minus"></i>
                        <h5>1</h5>
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </div>
            </li>
        </ul>
        <div class="memo">
            <ol>
                <li onclick="cAddress()"><p>Adderss <i class="fa-regular fa-pen-to-square"></i></p> <span>Item: 100</span></li>
                <li><p>SubTotal :</p> <span>3300৳</span></li>
                <li><p>Delivery Charge :</p> <span>00৳</span></li>
                <li><p>Total :</p> <span>3300৳</span></li>
                <li title="advance"><p>Advance pay :</p> <span>300৳</span></li>
                <li><p>pay on delivery :</p> <span><span>3000</span>৳</span></li>
            </ol>
            <div class="btn">
                <button onclick="checkOut()">CheckOut</button>
                <button>Payment</button>
            </div>

            <!-- <button>Payment</button> -->
        </div>
    </section>
    <!-- ::::: card added product end ::::: -->

    <!-- ::::: CheckOut ::::: -->
    <div class="c_address checkout">
        <div class="cAddress_data">
            <div class="logo"><img src="assets/image/logo.png" alt=""></div>
            <div class="add_product">
                <h5>Item <span>5</span></h5>
                <div class="close_cAddress">
                    <i class="fa-regular fa-circle-check"></i>
                </div>
                <ul>
                    <li>
                        <div class="addPd_img">
                            <img src="assets/image/phone-1.png" alt="product">
                        </div>
                        <div class="addPd_data">
                            <h6>
                                3M GoldPrivacy Filter for 17" 
                                Widescreen Laptop (16:10) (GF170W1B)
                                Widescreen Laptop (16:10) (GF170W1B)
                            </h6>
                        </div>
                    </li>
                    <li>
                        <div class="addPd_img">
                            <img src="assets/image/phone-1.png" alt="product">
                        </div>
                        <div class="addPd_data">
                            <h6>
                                3M GoldPrivacy Filter for 17" 
                                Widescreen Laptop (16:10) (GF170W1B)
                                Widescreen Laptop (16:10) (GF170W1B)
                            </h6>
                        </div>
                    </li>
                </ul>
            </div>
            <h5>Delivery Address</h5>
            <form action="#" method="post">
                <ul>
                    <li>
                        <label for="C_name">Full Name</label>
                        <input type="text" id="C_name" placeholder="Enter Your Name" required>
                    </li>
                    <li>
                        <label for="C_phone">Phone</label>
                        <input type="tel" id="C_phone" placeholder="Enter Your Phone" required>
                    </li>
                    <li>
                        <label for="C_alternativephone">Alternative Phone</label>
                        <input type="tel" id="C_alternativephone" placeholder="Optional Phone">
                    </li>
                    <li>
                        <label for="C_division">Division</label>
                        <select id="C_division" name="division" required>
                            <option value="" selected>Select</option>
                            <option value="Dhaka">Dhaka</option>
                            <option value="Borishal">Borishal</option>
                        </select>
                    </li>
                    <li>
                        <label for="C_District">District</label>
                        <select id="C_District" name="district" required>
                            <option value="" selected>Select</option>
                            <option value="Dhaka">Dhaka</option>
                            <option value="Borishal">Borishal</option>
                        </select>
                    </li>
                    <li>
                    <label for="C_thana">Thana</label>
                        <select id="C_thana" name="thana" required>
                            <option value="" selected>Select</option>
                            <option value="Dhaka">Dhaka</option>
                            <option value="Borishal">Borishal</option>
                        </select> 
                    </li>
                    <li>
                        <label for="C_address">Address</label>
                        <input type="text" id="C_address" placeholder="House No / Building / Street" required>
                    </li>
                    <li>
                        <br>
                        <label for="C_home">HOME</label>
                        <input type="radio" name="home" id="C_home" required> 
                        <label for="C_office">OFFICE</label>
                        <input type="radio" name="home" id="C_office" required>
                    </li>
                    <!-- <li>
                        <label for="C_agree">I agree to the terms and conditions</label>
                        <input type="radio" id="C_agree" required>
                    </li>
                    <li class="submit">
                        <input type="submit" value="Submit">
                    </li> -->
                </ul>
            </form>
            <!-- <h5>Memo</h5> -->
            <div class="memo">
                <ol>
                    <li><p>Data-time</p> : <span>04/05/2023;10:30pm</span></li>
                    <!-- <li><p>Item</p> : <span>04</span></li> -->
                    <li><p>SubTotal :</p> <span>3300৳</span></li>
                    <li><p>Delivery Charge :</p> <span>00৳</span></li>
                    <li><p>Total :</p> <span>3300৳</span></li>
                    <li title="advance"><p>Advance pay :</p> <span>300৳</span></li>
                    <li><p>pay on delivary :</p> <span><span>3000</span>৳</span></li>
                </ol>
            </div>
            <!-- <button>Done</button> -->
            <div class="submit">
                <button>Done</button>
            </div>
        </div>
    </div>
    <!-- ::::: CheckOut End ::::: -->

    <!--::::: overlay::::: -->
    <div class="overlay" onclick="overlay()"></div>
    <!--::::: overlay end::::: -->

    <div class="product_wraper">
        <!-- :::::::::::: single_product :::::::::::: -->
        <div class="single_product">
            <div class="container">
                <!-- product area -->
                <div class="product_area">
                    <div class="pd_dtl">
                        <div class="pdDtl_data">
                            <div>
                                <div class="pdDtl_img" id="demo_show">
                                    <img src="assets/image/product-1.png" alt="Product">
                                </div>
                                <ul class="pdDtl_slider" id="demo_imgs">
                                    <li>
                                        <img src="assets/image/phone-1.png" alt="Product">
                                    </li>
                                    <li>
                                        <img src="assets/image/product-2.png" alt="Product">
                                    </li>
                                    <li>
                                        <img src="assets/image/product-3.png" alt="Product">
                                    </li>
                                    <li>
                                        <img src="assets/image/product-1.png" alt="Product">
                                    </li>
                                </ul>
                            </div>
                            <div class="pdDtl_contant">
                                <h4>Kieslect Lora 2 Lady Calling Smart Watch</h4>
                                <ul>
                                    <li>1.3 HD AMOLED Display</li>
                                    <li>100+ Sports Modes</li>
                                    <li>1.3 HD AMOLED Display</li>
                                    <li>100+ Sports Modes</li>
                                    <li>
                                        <p>
                                            wranty Lorem ipsum dolor sit amet
                                            wranty Lorem ipsum dolor sit amet
                                            wranty Lorem ipsum dolor sit amet
                                            wranty Lorem ipsum dolor sit amet
                                            wranty Lorem ipsum dolor sit amet
                                            wranty Lorem ipsum dolor sit amet
                                            wranty Lorem ipsum dolor sit amet
                                            wranty Lorem ipsum dolor sit amet
                                        </p>
                                    </li>
                                    <li><h6>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, eos?</h6></li>
                                </ul>
                                <h4>Tk: 142000</h4>
                                <div class="pdDtl_btn">
                                    <div>
                                        <button>Add Card</button>
                                        <button>Add Card</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- single product none section -->
                        <div class="pdDtl_more">
                            <ul class="more_item">
                                <li><button>Spaces</button></li>
                                <li><button>Details</button></li>
                                <li><button>Reviews</button></li>
                                <li><button>Videos</button></li>
                            </ul>
                            <div class="pdMore_data">
                                <ul class="pd_spaci">
                                    <li><h4>Specification</h4></li>
                                    <li>
                                        <h6>Brand</h6>
                                        <p>: Imiab Lorem ipsum dolor sit amet.</p>
                                    </li>
                                    <li>
                                        <h6>Model No</h6>
                                        <p>: ColorFit Pro 4 Alpha</p>
                                    </li>
                                    <li>
                                        <h6>Battery capacity</h6>
                                        <p>: 270 mAh</p>
                                    </li>
                                    <li>
                                        <h6>Model No</h6>
                                        <p>: ColorFit Pro 4 Alpha</p>
                                    </li>
                                    <li>
                                        <h6>Battery capacity</h6>
                                        <p>: 270 mAh</p>
                                    </li>
                                    <li>
                                        <h6>Model No</h6>
                                        <p>: ColorFit Pro 4 Alpha</p>
                                    </li>
                                    <li>
                                        <h6>Battery capacity</h6>
                                        <p>: 270 mAh</p>
                                    </li>
                                </ul>
                                <ul class="pd_desc">
                                    <li><h4>Model No: T13</h4></li>
                                    <li><h6>Support Bluetooth Profile: HFP, HSP, A2DP, AVRCP</h6></li>
                                    <li><h6>Support Bluetooth Profile: HFP, HSP, A2DP, AVRCP</h6></li>
                                    <li><h6>Model No: T13</h6></li>
                                    <li><h6>Support Bluetooth Profile: HFP, HSP, A2DP, AVRCP</h6></li>
                                    <li><h6>Support Bluetooth Profile: HFP, HSP, A2DP, AVRCP</h6></li>
                                    <li><h6>Support Bluetooth Profile: HFP, HSP, A2DP, AVRCP</h6></li>
                                    <li><h6>Model No: T13</h6></li>
                                </ul>
                            </div>
                            <div class="pdDtlImgSlider">
                                <ul class="pdDtl_img qqq">
                                    <li><img src="assets/image/phone-1.png" alt="Product"></li>
                                    <li><img src="assets/image/phone-2.png" alt="Product"></li>
                                    <li><img src="assets/image/phone-3.png" alt="Product"></li>
                                    <li><img src="assets/image/product-1.png" alt="Product"></li>
                                    <li><img src="assets/image/product-2.png" alt="Product"></li>
                                    <li><img src="assets/image/product-3.png" alt="Product"></li>
                                </ul>
                                <div class="slider_btn">
                                    <div class="slider_icon1 btn_img" id="sliderLeft">
                                        <i class="fa-solid fa-chevron-left"></i>
                                    </div>
                                    <div class="slider_icon2 btn_img" id="sliderRight">
                                        <i class="fa-solid fa-chevron-right"></i>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <ul>
                                <li>
                                    <samp>
                                        <b>Lorem, ipsum dolor</b> sit amet consectetur adipisicing elit. 
                                        Vitae sint id iusto et accusantium ut, vero architecto 
                                        consequuntur totam soluta.
                                    </samp>
                                </li>
                                <li>
                                    <samp>
                                        <b>Lorem, ipsum dolor</b> Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                                        Vitae sint id iusto et accusantium ut, vero architecto 
                                        consequuntur totam soluta.
                                    </samp>
                                </li>
                            </ul>
                            <br>
                            <div class="pdDtlImgSlider">
                                <ul class="all_product qqqs">
                                    <li>
                                        <div class="card_head">
                                            <p>stock: <span>01</span></p>
                                            <i class="fa-solid fa-gift"></i>
                                        </div>
                                        <div class="meta_text">
                                            <div class="productImg">
                                                <img src="assets/image/product-1.png" alt="Proudct">
                                            </div>
                                            <p>Acer Aspire E 15 E5-575G-57D4 15.6-Inches Full HDAspire E 15 E5-575G-57D4 15.6-Inches Full HD</p>
                                            <div class="review_star">
                                                <h5>Tk: <span>300</span><sub><del>200tk</del></sub></h5>
                                                <b>5<i class="fa-solid fa-star"></i></b>
                                            </div>
                                        </div>
                                        <div class="review">
                                            <i class="fa-regular fa-comment-dots"></i>
                                            <i class="fa-regular fa-heart"></i>
                                            <i class="fa-solid fa-cart-shopping"></i>
                                            <i class="fa-regular fa-share-from-square"></i>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="card_head">
                                            <p>stock: <span>01</span></p>
                                            <i class="fa-solid fa-gift"></i>
                                        </div>
                                        <div class="meta_text">
                                            <div class="productImg">
                                                <img src="assets/image/product-1.png" alt="Proudct">
                                            </div>
                                            <p>Acer Aspire E 15 E5-575G-57D4 15.6-Inches Full HDAspire E 15 E5-575G-57D4 15.6-Inches Full HD</p>
                                            <div class="review_star">
                                                <h5>Tk: <span>300</span><sub><del>200tk</del></sub></h5>
                                                <b>5<i class="fa-solid fa-star"></i></b>
                                            </div>
                                        </div>
                                        <div class="review">
                                            <i class="fa-regular fa-comment-dots"></i>
                                            <i class="fa-regular fa-heart"></i>
                                            <i class="fa-solid fa-cart-shopping"></i>
                                            <i class="fa-regular fa-share-from-square"></i>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="card_head">
                                            <p>stock: <span>01</span></p>
                                            <i class="fa-solid fa-gift"></i>
                                        </div>
                                        <div class="meta_text">
                                            <div class="productImg">
                                                <img src="assets/image/product-1.png" alt="Proudct">
                                            </div>
                                            <p>Acer Aspire E 15 E5-575G-57D4 15.6-Inches Full HDAspire E 15 E5-575G-57D4 15.6-Inches Full HD</p>
                                            <div class="review_star">
                                                <h5>Tk: <span>300</span><sub><del>200tk</del></sub></h5>
                                                <b>5<i class="fa-solid fa-star"></i></b>
                                            </div>
                                        </div>
                                        <div class="review">
                                            <i class="fa-regular fa-comment-dots"></i>
                                            <i class="fa-regular fa-heart"></i>
                                            <i class="fa-solid fa-cart-shopping"></i>
                                            <i class="fa-regular fa-share-from-square"></i>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="card_head">
                                            <p>stock: <span>01</span></p>
                                            <i class="fa-solid fa-gift"></i>
                                        </div>
                                        <div class="meta_text">
                                            <div class="productImg">
                                                <img src="assets/image/product-1.png" alt="Proudct">
                                            </div>
                                            <p>Acer Aspire E 15 E5-575G-57D4 15.6-Inches Full HDAspire E 15 E5-575G-57D4 15.6-Inches Full HD</p>
                                            <div class="review_star">
                                                <h5>Tk: <span>300</span><sub><del>200tk</del></sub></h5>
                                                <b>5<i class="fa-solid fa-star"></i></b>
                                            </div>
                                        </div>
                                        <div class="review">
                                            <i class="fa-regular fa-comment-dots"></i>
                                            <i class="fa-regular fa-heart"></i>
                                            <i class="fa-solid fa-cart-shopping"></i>
                                            <i class="fa-regular fa-share-from-square"></i>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="card_head">
                                            <p>stock: <span>01</span></p>
                                            <i class="fa-solid fa-gift"></i>
                                        </div>
                                        <div class="meta_text">
                                            <div class="productImg">
                                                <img src="assets/image/product-1.png" alt="Proudct">
                                            </div>
                                            <p>Acer Aspire E 15 E5-575G-57D4 15.6-Inches Full HDAspire E 15 E5-575G-57D4 15.6-Inches Full HD</p>
                                            <div class="review_star">
                                                <h5>Tk: <span>300</span><sub><del>200tk</del></sub></h5>
                                                <b>5<i class="fa-solid fa-star"></i></b>
                                            </div>
                                        </div>
                                        <div class="review">
                                            <i class="fa-regular fa-comment-dots"></i>
                                            <i class="fa-regular fa-heart"></i>
                                            <i class="fa-solid fa-cart-shopping"></i>
                                            <i class="fa-regular fa-share-from-square"></i>
                                        </div>
                                    </li>
                                </ul>
                                <div class="slider_btn">
                                    <div class="slider_icon1 btn_img" id="sliderProduct">
                                        <i class="fa-solid fa-chevron-left"></i>
                                    </div>
                                    <div class="slider_icon2 btn_img" id="sliderProductr">
                                        <i class="fa-solid fa-chevron-right"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- product area end -->
            </div>
        </div>
        <!-- :::::::::::: single_product end :::::::::::: -->

        <!-- :::::::::::: Footer :::::::::::: -->
        <footer>
            <div class="container">
                <div class="footer_items">
                    <div class="footer_contact">
                        <h5>Contact Number or Mail</h5>
                        <ul>
                            <li><i class="fa-solid fa-mobile-screen"></i> <p>+880 14-131-223</p></li>
                            <li><i class="fa-solid fa-mobile-screen"></i> <p>+880 14-131-223</p></li>
                            <li><i class="fa-regular fa-envelope"></i> <p>msmunnainfo@gmail.com</p></li>
                            <li><i class="fa-regular fa-envelope"></i> <p>flyshopinfo@gmail.com</p></li>
                        </ul>
                    </div>
                    <div class="footer_page">
                        <h5>My Account</h5>
                        <ul>
                            <li><a href="index.html">My Account</a></li>
                            <li><a href="index.html">Order History</a></li>
                            <li><a href="index.html">Brands</a></li>
                            <li><a href="index.html">Privacy Policy</a></li>
                            <li><a href="index.html">Refund And Return Policy</a></li>
                            <li><a href="index.html">Terms & Conditions</a></li>
                            <li><a href="index.html">EMI Information</a></li>
                            <li><a href="index.html">Contact Us</a></li>
                        </ul>
                        <h5>Pay Width</h5>
                        <img src="assets/image/payment.jpeg" alt="">
                    </div>
                    <div class="footer_address">
                        <h5>Shop Addres</h5>
                        <p>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam, exercitationem!
                        </p>
                        <ul>
                            <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-twitter"></i></li>
                            <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-skype"></i></a></li>
                        </ul>
                        <br>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d468356.60843711597!2d88.70695318256921!3d23.49521265602782!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39fedc0492c838a3%3A0xf9deab2812a1b7cc!2sJhenaidah%20District!5e0!3m2!1sen!2sbd!4v1693820426770!5m2!1sen!2sbd" width="260" height="120" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
            <hr>
            <p class="copy">Copyright@ 2023 Flyshopbd.All Rights Reserved</p>
        </footer>
        <!-- :::::::::::: Footer end :::::::::::: -->
    </div>

    <script src="assets/js/custom.js"></script>
    <script src="assets/js/section/header.js"></script>
    <script src="assets/js/page/singleProduct.js"></script>
    <script src="assets/js/page/productArea.js"></script>
</body>
</html>