{% load static %}
<div class="slider_area">
    <ul class="slider">
        <li class="">
            <div class="slider_bg">
                <img src="{% static 'flyshopbd/assets/image/bg.jpg' %}" alt="">
            </div>
            <div class="container">
                <div class="slider_data">
                    <div class="slider_text">
                        <h2>10% off</h2>
                        <p>
                            Lorem ipsum, dolor sit amet consectetur
                        </p>
                        <dl>
                            <dt><small>adipisicing elit. Deleniti, harum.Ipsum dolor sit amet</small></dt>
                            <dd><small>Ipsum dolor sit ametIpsum dolor sit amet</small></dd>
                            <!-- <dt><small>Ipsum dolor sit amet Lorem ipsum dolor</small></dt>
                            <dd><small>Ipsum dolor sit amet Lorem ipsum dolor</small></dd> -->
                        </dl>
                    </div>
                    <div class="slider_img">
                        <img src="{% static 'flyshopbd/assets/image/phone-1.png' %}" alt="">
                    </div>
                </div>
            </div>
        </li>
        <li class="">
            <div class="slider_bg">
                <img src="{% static 'flyshopbd/assets/image/product-2.png' %}" alt="">
            </div>
            <div class="container">
                <div class="slider_data">
                    <div class="slider_text">
                        <h2>60% off</h2>
                        <p>
                            Lorem ipsum, dolor sit amet consectetur
                            Lorem ipsum, dolor sit amet consectetur
                        </p>
                        <dl>
                            <dt><small>adipisicing elit. Deleniti, harum.Ipsum dolor sit amet</small></dt>
                            <dd><small>Ipsum dolor sit ametIpsum dolor sit amet</small></dd>
                            <!-- <dt><small>Ipsum dolor sit amet Lorem ipsum dolor</small></dt>
                            <dd><small>Ipsum dolor sit amet Lorem ipsum dolor</small></dd> -->
                        </dl>
                    </div>
                    <div class="slider_img">
                        <img src="{% static 'flyshopbd/assets/image/product-1.png' %}" alt="">
                    </div>
                </div>
            </div>
        </li>
        <li class="active">
            <div class="slider_bg">
                <img src="{% static 'flyshopbd/assets/image/bg2.jpg' %}" alt="">
            </div>
            <div class="container">
                <div class="slider_data">
                    <div class="slider_text">
                        <h2>30% off</h2>
                        <p>
                            Lorem ipsum, dolor sit amet consectetur
                            Lorem ipsum, dolor sit amet consectetur
                        </p>
                        <dl>
                            <dt><small>adipisicing elit. Deleniti, harum.Ipsum dolor sit amet</small></dt>
                            <dd><small>Ipsum dolor sit ametIpsum dolor sit amet</small></dd>
                            <!-- <dt><small>Ipsum dolor sit amet Lorem ipsum dolor</small></dt>
                            <dd><small>Ipsum dolor sit amet Lorem ipsum dolor</small></dd> -->
                        </dl>
                    </div>
                    <div class="slider_img">
                        <img src="{% static 'flyshopbd/assets/image/phone-1.png' %}" alt="">
                    </div>
                </div>
            </div>
        </li>
        <li class="">
            <div class="slider_bg">
                <img src="{% static 'flyshopbd/assets/image/bg2.jpg' %}" alt="">
            </div>
            <div class="container">
                <div class="slider_data">
                    <div class="slider_text">
                        <h2>60% off</h2>
                        <p>
                            Lorem ipsum, dolor sit amet consectetur
                            Lorem ipsum, dolor sit amet consectetur
                        </p>
                        <dl>
                            <dt><small>adipisicing elit. Deleniti, harum.Ipsum dolor sit amet</small></dt>
                            <dd><small>Ipsum dolor sit ametIpsum dolor sit amet</small></dd>
                            <!-- <dt><small>Ipsum dolor sit amet Lorem ipsum dolor</small></dt>
                            <dd><small>Ipsum dolor sit amet Lorem ipsum dolor</small></dd> -->
                        </dl>
                    </div>
                    <div class="slider_img">
                        <img src="{% static 'flyshopbd/assets/image/phone-2.png' %}" alt="">
                    </div>
                </div>
            </div>
        </li>
    </ul>

    <div class="slider_btn">
        <div class="slider_icon1" onclick="prv()">
            <i class="fa-solid fa-chevron-left"></i>
        </div>
        <div class="slider_icon2" onclick="next()">
            <i class="fa-solid fa-chevron-right"></i>
        </div>
    </div>
</div>